.home__background {
    height: 538px;
    width: 100%;
    background-image: url(../../images/home_background.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    z-index: -1;
    //opera and firefox don't work
}

.home__background__overlay {
    background-color: #000;
    opacity: 0.75;
    filter: alpha(opacity=75);
    height: 538px;
    width: 100%;
    z-index: -1;
}

.home__content {
    height: 538px;
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .home__header {
        font-size: 60px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        max-width: 540px;
        text-align: center;
        line-height: 65px;
        letter-spacing: -3px;
    }
    .home__description {
        font-size: 20px;
        color: #cccccc;
        letter-spacing: -0.5px;
        margin: 40px 0 60px;
    }
    .home__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 60px;
        background-color: #7cc576;
        color: #fff;
        font-family: "Montserrat", Times, serif;
        font-size: 16px;
        letter-spacing: -0.37px;
        text-transform: uppercase;
        border-radius: 35px;
    }
}
